[submodule "dmenu"]
	path = dmenu
	url = https://git.bbaovanc.com/bbaovanc/dmenu.git
[submodule "dwm"]
	path = dwm
	url = https://git.bbaovanc.com/bbaovanc/dwm.git
[submodule "slstatus"]
	path = slstatus
	url = https://git.bbaovanc.com/bbaovanc/slstatus.git
[submodule "st"]
	path = st
	url = https://git.bbaovanc.com/bbaovanc/st.git
