[submodule "dmenu"]
	path = dmenu
	url = git@git.bbaovanc.com:bbaovanc/dmenu.git
[submodule "dwm"]
	path = dwm
	url = git@git.bbaovanc.com:bbaovanc/dwm.git
[submodule "st"]
	path = st
	url = git@git.bbaovanc.com:bbaovanc/st.git
[submodule "Goblocks"]
	path = Goblocks
	url = https://github.com/Stargarth/Goblocks.git
